* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

    
 }
 .grid
 {
     display: grid;
     grid-template-columns: repeat(2, 50vw);
     grid-template-rows: repeat(2, 50vh);
     
    
     
    
     
   

 }
 .section1
 {
     background-color: chartreuse;
     text-shadow: 2px 2px;
     font-family: Georgia, 'Times New Roman', Times, serif;
     
 }
 .aside
 {
     background-color: coral;
    
 
 }
 .section2
 {
     background-color: crimson;
     
     
    
 }
 .footer
 {
     background-color: darkgoldenrod;
  
 }